@media all and (min-width: 480px) {

  button {

  }

  .Login {
    padding: 56px 112px;
    margin: 0 auto;
    max-width: 580px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
  }

  .Login h1 {
    font-size: 30px;
    text-align: center;
  }


  .Login  label {
    font-weight: 700;
    margin-bottom: 10px;
    align-self: start;
    margin-top: 12px;
    }

  .Login  input {
      margin-bottom: 13px;
      align-self: stretch;
      border: 2px solid transparent;
      border-bottom-color: #E4E4E4;
      padding: 10px 0px;
      font-size: 18px;
    }


  .Login a, p {
    color: #828282;
    padding: 0;
    margin: 0;
  }

  .Login a {
    align-self: flex-end;
  }

  .Submitbutton {
    font-size: 25px;
    align-self: stretch;
    padding: 16px 30px;
    background-color: #FDBF5A;
    border: 1px solid transparent;
    border-radius: 70px;
    margin-top: 46px;
    margin-bottom: 32px;
  }

  .Registerbutton {
    border: none;
    background-color: transparent;
    color: #FDBF5A;
  }

}

